body {
	background-color : #997a8d;
	color: white;
}
h1 {
display: flex;
text-align: center;
justify-content:center;
top : 500;
}
div.container{
	display: flex;
	justify-content: center;
}
button{
	color: white;
	background-color: transparent;
	border: none;
	justify-content: center;
	align-items: center;
	text-align: center;
}
input{
	display: block;
}